<div id="feed">
  <div class="center" *ngIf="loading; else feed">
    <h1>Loading...</h1>
  </div>
</div>

<ng-template #noPosts>
  <div class="center">
    <h2>No posts yet</h2>
    <p>It seems that there are no posts yet, why not create the first one?</p>
    <button type="button">Create post</button>
  </div>
</ng-template>

<ng-template #feed>
  <div *ngIf="posts && posts.length > 0; else noPosts">
    <button type="button">Create post</button>
      <hr>
    <div *ngFor="let post of posts; let last = last">
      <div [ngClass]="{'last-child': last}">
        <app-post-preview
          (click)="emitPostSelected(post)"
          [post]="post">
        </app-post-preview>
      </div>
      <hr>
    </div>
  </div>
</ng-template>
