nav {
  width: 100%;
  padding-top: 0.75%;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-around;
  min-width: 10rem;
  list-style: none;
  padding-top: 0.1%;
  margin: 0;
}

h1 {
  margin: 0;
}
